# SQLite3入門

参考記事
- [SQLite3入門](https://www.python.ambitious-engineer.com/archives/745)

In [1]:
import sqlite3

In [2]:
db_fname = "hoge.db"

# データベースに接続
conn = sqlite3.connect(db_fname)

In [3]:
# カーソルの取得
c = conn.cursor()

In [4]:
# 実行例

# テーブルを作成
c.execute('CREATE TABLE articles  (id int PRIMARY KEY, title varchar(1024), body text, created datetime)')
 
# Insert実行
c.execute("INSERT INTO articles VALUES (1,'今朝のおかず','魚を食べました','2020-02-01 00:00:00')")
c.execute("INSERT INTO articles VALUES (2,'今日のお昼ごはん','カレーを食べました','2020-02-02 00:00:00')")
c.execute("INSERT INTO articles VALUES (3,'今夜の夕食','夕食はハンバーグでした','2020-02-03 00:00:00')")

In [5]:
# コミット
conn.commit()
 
# コネクションをクローズ
# conn.close()

In [11]:
# テーブル一覧を取得する
for row in c.execute("select * from sqlite_master where type='table'"):
    print(row)

('table', 'articles', 'articles', 2, 'CREATE TABLE articles  (id int, title varchar(1024), body text, created datetime)')

In [12]:
# コネクションをクローズ
conn.close()